* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Custom Properties */

:root {
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #d9dcd6;
    --clr-dark: #303030;
    --clr-accent: #2a607c;
    
    --fs-h1: 45px;
    --fs-h2: 35px;
    --fs-body: 15px;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/* To make font sizes bigger on larger screens */
@media (min-width: 900px) {
    :root {
        --fs-h1: 55px;
        --fs-h2: 45px;
        --fs-body: 18px;
    }
}

/* General Styling */

body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: var(--clr-light);
    color: var(--clr-dark);
    font-size: var(--fs-body);
    line-height: 1.5;
}

/* Typography */

h1,
h2 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-accent);
    color: #fff;
    padding: 20px;
}

.header-h1 {
    flex: 1;
}

.header-img {
    max-width: 100px;
}

.nav {
    padding-top: 15px;
    margin-right: 20px;
    min-width: 300px;
}

.nav__list {
    display: flex;
    min-width: 300px;
  }
  
.nav__item {
    margin-left: 25px;
}

.nav__item-a {
    color: #fff;
    padding: 14px 5px;
    font-weight: var(--fw-bold);
    text-decoration: none;
}

/* Sections */

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    border: 3px solid #2a607c;
}

.section__title {
    margin-bottom: 10px; 
    text-align: center;
}

/* About Me */

.about-me {
    text-align: center;
}

/* Work */

.my-work {
    text-align: center;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
        box-shadow: var(--bs);
}

.portfolio__img:hover {
    transform: scale(1.1);
    opacity: .75;
}

/* Contact Me */

.contact__link {
    font-weight: var(--fw-bold);
    text-decoration: none;
    text-align: center;
}

.contact__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.social-list {
    list-style: none;
    /* display: flex to put items next to each other */
    display: flex;
    justify-content: center;
    margin: .5em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    margin: .5em;
    text-decoration: none;
}

/* Footer */

.footer {
    flex-shrink: 0;
    padding: 20px;
    text-align: center;
    background-color: #2a607c;
    color: #fff;
    margin-top: auto;
  }

  /* Media Queries */

  @media screen and (max-width: 780px) {
    main,
    nav {
        flex-direction: column;
    }
}